*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
}

body.lock {
    position: fixed;
    overflow: hidden;
}

/* Header */
#header {
    position: fixed;
    background: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    min-width: 1024px;
    height: 54px;
    max-height: 54px;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

#header .header-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}

#header ul {
    list-style: none;
}

/* Header - Mobile */
#header .header-content-mobile {
    display: none;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    overflow: hidden;
}

#header .header-content-mobile .header-item {
    height: 54px;
}

#header .header-menuicon {
    left: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 54px;
    border-bottom: none;
}

#header .header-menuicon-label {
    display: block;
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 8px;
    width: 38px;
    height: 38px;
    background: #0030A7;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-tap-highlight-color: transparent;
}

#header .header-menuicon-bread {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#header .header-menuicon-bread-top {
    -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -webkit-transform: none;
    transform: none;
    z-index: 4;
}

#header .header-menuicon-bread-crust {
    display: block;
    width: 17px;
    height: 1px;
    background: #fff;
    border-radius: 0.5px;
    position: absolute;
    left: 7px;
    z-index: 1;
}

#header .header-menuicon-bread-crust-top {
    top: 14px;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
}

#header .header-menuicon-bread-bottom {
    -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -webkit-transform: none;
    transform: none;
}

#header .header-menuicon-bread-crust-bottom {
    bottom: 14px;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
}

#header.active .header-menuicon-bread-top {
    -webkit-transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s, -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#header.active .header-menuicon-bread-crust-top {
    -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -webkit-transform: none;
    transform: none;
}

#header.active .header-menuicon-bread-bottom {
    -webkit-transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s, -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#header.active .header-menuicon-bread-crust-bottom {
    -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -webkit-transform: none;
    transform: none;
}

#header .header-content-mobile .header-item-logo {
    position: absolute;
    width: 130px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    padding: 12px 0;
}

#header .header-content-mobile .header-item-logo .logo {
    cursor: pointer;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 28px;
    background: initial;
    color: #0030A7;
    border: none;
}

/* Nav - Quick Links */
#header .list-container {
    width: 100%;
    height: auto;
    padding: 8px 0;
    position: relative;
}

#header .header-list {
    cursor: default;
    width: auto;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header .header-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 38px;
    z-index: 1;
    vertical-align: top;
    padding: 0 10px;
}

#header .header-item-logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 38px;
    z-index: 1;
    vertical-align: top;
    padding: 0 30px 0 0;
}

#header .header-item-logo:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 189px;
    height: 26px;
    width: 2px;
    z-index: 2;
    background-color: #F97300;
}

#header .link-active:after {
    content: "";
    display: block;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 4px;
    width: 20%;
    border-radius: 6px;
    z-index: 2;
    background-color: #F9A700;
    transition-timing-function: ease;
    transition-duration: .5s;
}

#header .link-active:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 4px;
    width: 40%;
    border-radius: 6px;
    z-index: 2;
    background-color: #F9A700;
}

#header .header-link .logo {
    cursor: pointer;
    text-align: center;
    font-size: 34px;
    line-height: 38px;
    font-weight: 600;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 28px;
    background: initial;
    color: #0030A7;
    border: none;
}

#header .header-link .link {
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    background: #0030A7;
    color: #fff;
    border: none;
}

@media only screen and (max-width: 1044px) {
    #header {
        min-width: 320px;
    }
}

@media only screen and (max-width: 767px) {
    #header {
        overflow-y: hidden;
        max-height: none;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        -webkit-transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
        transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    #header:after {
        margin-left: 0;
        left: 0;
        width: 100%;
        content: "";
        display: block;
        position: absolute;
        top: 99%;
        height: 1px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.16);
    }

    #header.active {
        height: 100%;
        background: #fff;
        -webkit-transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    #header.active:after {
        display: none;
    }

    #header .header-content {
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    /* Header - Mobile */
    #header .header-content-mobile {
        display: block;
    }

    #header .header-content-mobile .header-item-logo {
        display: block;
    }

    #header .mobile-logo {
        width: 170px;
    }

    /* Header - Quick Links */
    #header .list-container {
        width: 100%;
        height: 100%;
        padding: 0;
        position: absolute;
    }

    #header .header-list {
        display: block;
        position: absolute;
        z-index: 1;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 664px;
        margin: 0 auto;
        padding: 45px 40px 8px;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        visibility: hidden;
        -webkit-transition: visibility 0s linear 1s;
        transition: visibility 0s linear 1s;
    }

    #header .header-item {
        width: 100%;
        height: 45px;
        padding: 0;
    }

    #header .header-item-logo {
        display: none;
    }

    #header .header-item-logo::after {
        display: none;
    }

    #header .link-active:after {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        left: -8px;
        right: auto;
        margin: auto;
        height: 25px;
        width: 4px;
        border-radius: 6px;
        z-index: 2;
        background-color: #F9A700;
        transition-timing-function: none;
    }

    #header .link-active:hover:after {
        display: none;
    }

    #header .header-item-menu {
        pointer-events: none;
    }

    #header .header-item-menu:nth-child(2) {
        -webkit-transform: translateY(-44px);
        transform: translateY(-44px);
        -webkit-transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s, -webkit-transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
        transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s, -webkit-transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
        transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s, transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
        transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s, transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s, -webkit-transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
        padding-top: 1px;
    }

    #header .header-item-menu:nth-child(3) {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        -webkit-transition: opacity .29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) .13s, -webkit-transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s;
        transition: opacity .29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) .13s, -webkit-transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s;
        transition: opacity .29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) .13s, transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s;
        transition: opacity .29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) .13s, transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s, -webkit-transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s;
    }

    #header .header-item-menu:nth-child(4) {
        -webkit-transform: translateY(-36px);
        transform: translateY(-36px);
        -webkit-transition: opacity .26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) .11s, -webkit-transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s;
        transition: opacity .26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) .11s, -webkit-transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s;
        transition: opacity .26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) .11s, transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s;
        transition: opacity .26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) .11s, transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s, -webkit-transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s;
    }

    #header .header-item-menu:nth-child(5) {
        -webkit-transform: translateY(-32px);
        transform: translateY(-32px);
        -webkit-transition: opacity .2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) .09s, -webkit-transform .42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) .069s;
        transition: opacity .2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) .09s, -webkit-transform .42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) .069s;
        transition: opacity .2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) .09s, transform .42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) .069s;
        transition: opacity .2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) .09s, transform .42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) .069s, -webkit-transform .42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) .069s;
    }

    #header .header-item-menu:nth-child(6) {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-transition: opacity .22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) .07s, -webkit-transform .42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) .056s;
        transition: opacity .22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) .07s, -webkit-transform .42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) .056s;
        transition: opacity .22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) .07s, transform .42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) .056s;
        transition: opacity .22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) .07s, transform .42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) .056s, -webkit-transform .42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) .056s;
    }

    #header .header-item-menu .header-link {
        background-position: left center;
        display: block;
        outline-offset: 0;
        padding: 0;
        width: auto;
        max-width: none;
    }

    #header .header-item-menu .header-link .link {
        cursor: pointer;
        text-align: center;
        font-size: 17px;
        line-height: 21px;
        font-weight: 400;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 8px;
        background: #0030A7;
        color: #fff;
        border: none;
    }

    #header .header-list {
        visibility: visible;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    #header.active .header-item-menu {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: none;
        transform: none;
    }

    #header .header-item-menu:nth-child(2) {
        -webkit-transition: opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s, -webkit-transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s;
        transition: opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s, -webkit-transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s;
        transition: opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s, transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s;
        transition: opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s, transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s, -webkit-transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s;
    }

    #header .header-item-menu:nth-child(3) {
        -webkit-transition: opacity .32244s cubic-bezier(0.32, 0.08, 0.24, 1) .05s, -webkit-transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s;
        transition: opacity .32244s cubic-bezier(0.32, 0.08, 0.24, 1) .05s, -webkit-transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s;
        transition: opacity .32244s cubic-bezier(0.32, 0.08, 0.24, 1) .05s, transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s;
        transition: opacity .32244s cubic-bezier(0.32, 0.08, 0.24, 1) .05s, transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s, -webkit-transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s;
    }

    #header .header-item-menu:nth-child(4) {
        -webkit-transition: opacity .33467s cubic-bezier(0.32, 0.08, 0.24, 1) .07s, -webkit-transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s;
        transition: opacity .33467s cubic-bezier(0.32, 0.08, 0.24, 1) .07s, -webkit-transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s;
        transition: opacity .33467s cubic-bezier(0.32, 0.08, 0.24, 1) .07s, transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s;
        transition: opacity .33467s cubic-bezier(0.32, 0.08, 0.24, 1) .07s, transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s, -webkit-transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s;
    }

    #header .header-item-menu:nth-child(5) {
        -webkit-transition: opacity .34577s cubic-bezier(0.32, 0.08, 0.24, 1) .09s, -webkit-transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s;
        transition: opacity .34577s cubic-bezier(0.32, 0.08, 0.24, 1) .09s, -webkit-transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s;
        transition: opacity .34577s cubic-bezier(0.32, 0.08, 0.24, 1) .09s, transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s;
        transition: opacity .34577s cubic-bezier(0.32, 0.08, 0.24, 1) .09s, transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s, -webkit-transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s;
    }

    #header .header-item-menu:nth-child(6) {
        -webkit-transition: opacity .35577s cubic-bezier(0.32, 0.08, 0.24, 1) .11s, -webkit-transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s;
        transition: opacity .35577s cubic-bezier(0.32, 0.08, 0.24, 1) .11s, -webkit-transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s;
        transition: opacity .35577s cubic-bezier(0.32, 0.08, 0.24, 1) .11s, transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s;
        transition: opacity .35577s cubic-bezier(0.32, 0.08, 0.24, 1) .11s, transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s, -webkit-transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s;
    }
}

.header-blur {
    display: none;
}

html #header,
html #header~.header-blur {
    position: fixed;
}

@media only screen and (max-width: 767px) {
    .header-blur {
        display: block;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9998;
        margin: 0;
        width: 100%;
        height: 54px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
}

/* Main */
main {
    display: block;
}

.main {
    position: relative;
    max-width: 2560px;
    margin: 0 auto;
    padding-top: 54px;
    background-color: #fff;
    width: 100%;
}

/* Main - Ribbon */
.main .collection-module {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-top: 0px;
    border-style: none;
    overflow: visible;
    border-left-width: 0px;
    border-right-width: 0px;
    text-align: center;
}

.main .module-content {
    width: 100%;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F97300;
}

.main .section-content {
    margin-right: auto;
    margin-left: auto;
}

.main .ribbon-copy {
    font-size: 16px;
    display: inline-block;
    padding: 12px 0;
    color: #fff;
}

@media only screen and (max-width: 1068px) {
    .main .ribbon-copy {
        padding-right: 18px;
        padding-left: 18px;
        max-width: 620px;
    }
}

@media only screen and (max-width: 734px) {
    .main .ribbon-copy {
        width: calc(100% - 30px);
        max-width: 600px;
        padding: 10px 0;
    }
}

/* Main-Content */
.main .main-module {
    position: relative;
    background-color: #fff;
    text-align: left;
    width: 100%;
}

.main .main-module .section-content {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 18px 25px 18px;
}

/* 配套 */
.flagship-buyflow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 1000px;
}

.flagship-buyflow .column {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.large-1 {
    flex-basis: 50%;
    max-width: 50%;
}

.large-2 {
    flex-basis: 42%;
    max-width: 42%;
}

.large-3 {
    flex-basis: 100%;
    max-width: 100%;
}

.large-4 {
    flex-basis: 50%;
    max-width: 50%;
}

.flagship-buyflow .large-offset {
    margin-left: 8%;
}


@media only screen and (max-width: 734px) {
    .large-2 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .large-4 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .flagship-buyflow .large-offset {
        margin-left: 0;
    }
}

.flagship-sticky {
    position: sticky;
    top: 54px;
}

.flagship-product-header {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    padding-top: 40px;
}

.flagship-product-header h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    letter-spacing: 0;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    padding-bottom: 11px;
}

.flagship-productselection {
    padding: 40px 0 0;
}

.flagship-smallcontainer {
    position: relative;
    min-height: 66px;
    border-bottom: 1px solid #d2d2d7;
}

.flagship-smallcontainer.last {
    border-bottom: 0;
}

.buyflow-container {
    padding: 0 5px;
}

.buyflow-container fieldset {
    margin-top: 0;
    padding: 0 0 26px;
    border: 0;
}

.buyflow-header {
    font-size: 17px;
    line-height: 21px;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    font-weight: bold;
    padding-top: 25px;
}

.buyflow-header.first {
    padding-top: 0px;
}

.buyflow-selector-group {
    list-style: none;
    width: auto;
    margin-top: 0;
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.form-selector {
    position: relative;
    display: flex;
    margin-top: 14px;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;
}

.form-selector .form-selector-input:hover~.form-selector-label {
    border-color: #86868b
}

.form-selector .form-selector-input:checked~.form-selector-label {
    border-color: #0071e3
}

.form-selector .form-selector-input.focused~.form-selector-label,
.form-selector .form-selector-input:focus~.form-selector-label {
    border-color: #0071e3;
    box-shadow: 0 0 0 4px rgba(0, 125, 250, .6)
}

.form-selector-input {
    position: absolute;
    opacity: 0;
}

.form-selector .form-selector-input:disabled~.form-selector-label {
    border-color: #d2d2d7
}

.form-selector-input:disabled~.form-selector-label {
    opacity: .32;
    cursor: auto
}

.form-selector-input.focused~.form-selector-label,
.form-selector-input:checked~.form-selector-label,
.form-selector-input:focus~.form-selector-label {
    outline: none;
    border-width: 2px;
    padding: 14px
}

.form-selector-label {
    font-size: 17px;
    line-height: 21px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    width: 100%;
    height: auto;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    color: #1d1d1f;
    border-color: #d2d2d7;
    background-color: rgba(255, 255, 255, .8);
    min-height: 103px;
}

.form-selector-label img {
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    padding-bottom: 10px;
}

.relatedlink {
    background: #f5f5f7;
    border-radius: 12px;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 14px 0;
    margin: 20px 0 6px;
    text-align: left;
}

.relatedlink .detail {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 0 18px;
}

.g-button {
    cursor: pointer;
    text-align: center;
    background: #F97300;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 28px;
    padding: 18px 31px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    white-space: normal;
    display: inline-block;
    border: none;
}

.text-container {
    width: 100%;
    margin: 18px 0;
    padding: 14px 0;
    background: #F9A700;
    border-radius: 12px;
    display: none;
}

.text-container .container {
    margin: 0 14px;
}

.text-container .container .title {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #0030A7;
}

.text-container .container .notice {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #000;
}

.text-container .container #result {
    margin: 20px 0;
}

.text-container .container #info {
    margin: 20px 0;
}

.text-container .container #info input {
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
}

.text-container .container .btn {
    cursor: pointer;
    text-align: center;
    background: #0030A7;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 28px;
    padding: 18px 31px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    white-space: normal;
    display: inline-block;
    border: none;
    margin-top: 10px;
}